@import "~antd/lib/style/themes/default.less";

@blue: #0a1fdb;

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}

.header {
  color: @black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: @white;
  height: 89px;

  .nav-menu {
    display: flex;
    .menu-item {
      position: relative;
      .nav-item {
        margin-right: 30px;
        color: @black;
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }
      }
      .nav-item:hover {
        color: @blue;
      }
    }
  }
  .logo {
    letter-spacing: 8px;
    font-size: 24px;
    color: @black;
  }
  .user-cart {
    display: flex;
    align-items: center;
    .login {
      display: flex;
      align-items: center;
      margin-right: 25px;
      // img {
      //   margin-right: 15px;
      // }
      .user-icon{
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .shopping-cart {
      position: relative;
      display: inline-block;
      .cart-icon{
        font-size: 24px;
      }
      .quantity {
        position: absolute;
        top: -10%;
        left: 80%;
        // transform: translateX(-50%);
        font-size: 14px;
      }
    }
  }
}
